<% provide(:title, "About") %>
    <h1>About Us</h1>
    <p>"Twitter Clone" is a production-level demo site and not intended for use by the general public. There are many Twitter clones like it, but this one is mine.</p>
		<p>This site was built with Ruby on Rails, and uses the open-source framework Twitter Bootstrap. As a result, the design is fully responsive.</p>
		<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>