<footer class="footer">
  <small>
    Built by <a href="#">R.N.H.</a> 2015
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://twitter.com/modulooblongata">Twitter</a></li>
    </ul>
  </nav>
</footer>